body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #4775d9;
    color: white;
    padding: 20px;
}

footer {
    background-color: #4775d9;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content h1 {
    font-size: 3.5em;
    margin: 0;
    text-align: center;
}

.content-navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #4775d9;
}

.content-navbar a {
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
}

.content-navbar a:hover {
    text-decoration: underline;
}

header img {
    height: 50px;
    width: 50px;
}

main {
    padding: 20px;
    background-color: #4775d9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic-container {
    width: 100%;
    max-width: 1300px;
}

.topic {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    margin-bottom: 40px;
    padding: 20px;
}

.topic#introduction {
    display: flex;
    gap: 20px;
}

.mockup {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mockup img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-phone {
    margin: auto;
    margin-top: 10px;
    padding: 10px 10px 30px;
    width: 310px;
    height: 600px;
    box-shadow: 0 0 20px #e2e2e2;
    border-radius: 30px;
    background-color: #000;

}

.screen {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    border-radius: 30px;
    overflow-y: hidden;
    scrollbar-width: none;
}

.brove {
    width: 120px;
    height: 15px;
    background: rgb(0, 0, 0);
    position: absolute;
    margin: 0 95px;
    border-radius: 0 0 20px 20px;
}

.speaker {
    width: 60px;
    height: 5px;
    background: #d2d2d2;
    display: block;
    margin: auto;
    margin-top: 5px;
    border-radius: 20px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
}

.screen-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.topic-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.topic-row-container {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    margin-bottom: 40px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.topic-row,
.topic-row-container {
    flex: 1;
    min-width: 300px;
}

.topic-row-container{
    flex: 1;
    padding: 20px;
}

.topic-row-container ul {
    list-style-type: disc;
    padding-left: 20px;
    list-style: none;
}

.topic-row-container ul li {
    line-height: 1.8;
    margin-bottom: 10px;
    text-decoration: none;
}

.topic-contact{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    margin-bottom: 40px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.download-buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.btn {
    background-color: #4775d9;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #365cb1;
}